<div id="sidebar" class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <span class="fs-4">HR Control Panel</span>
    </div>
    <hr>

    <!-- Navigation Links -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/hr-dashboard']">
                <i class="bi bi-house-door"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['onboard-candidate']">
                <i class="bi bi-person-check"></i> Onboard Candidate
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['post-job']">
                <i class="bi bi-clipboard-plus"></i> Post Job
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['view-interview']">
                <i class="bi bi-calendar-check"></i> View Interview Schedule
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['candidate-list']">
                <i class="bi bi-person-lines-fill"></i> All Onboarded Candidates
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['view-jobs']">
                <i class="bi bi-briefcase"></i> View All Jobs
            </a>
        </li>
    </ul>
    <hr>
</div>