<div id="sidebar" class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <span class="fs-4">HR Control Panel</span>
    </div>
    <hr>

    <!-- Navigation Links -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/hr-dashboard']">
                <i class="fas fa-calendar-alt"></i>Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['onboard-candidate']">
                <i class="fas fa-calendar-alt"></i>Onboard Candidate
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['post-job']">
                <i class="fas fa-file-alt"></i> Post Job
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['view-interview']">
                <i class="fas fa-eye"></i> View Interview Schedule
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['candidate-list']">
                <i class="fas fa-sync-alt"></i> All Onboarded Candidates
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['view-jobs']">
                <i class="fas fa-briefcase"></i> View All Jobs
            </a>
        </li>
    </ul>
    <hr>

</div>