<div class="card">
    <div class="container mt-4">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Interview Date</th>
                    <th scope="col">Interview Time</th>
                    <th scope="col">Interview Mode</th>
                    <th scope="col">Interview Status</th>
                    <th scope="col">Interview Type</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Interviewer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-11-15</td>
                    <td>10:00 AM</td>
                    <td>Online</td>
                    <td>Scheduled</td>
                    <td>Technical</td>
                    <td>2024-11-08T12:34:56</td>
                    <td>Imtiyaz Hirani</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</div>