<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="signup.component.css">
</head>

<body>
    <div class="center">
        <h1>Sign Up</h1>
        <div class="alert alert-primary mb-4" *ngIf="successMsg">
            {{successMsg}}
        </div>
        <div class="alert alert-danger mb-4" *ngIf="errorMsg">
            {{errorMsg}}
        </div>
        <form method="post">
            <div class="txt_field">
                <input type="text" name="username" [(ngModel)]="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" [(ngModel)]="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input type="text" name="name" [(ngModel)]="name" required>
                <span></span>
                <label>name</label>
            </div>
            <input type="submit" name="Sign-up" value="Sign-Up" (click)="onSignUp()">
        </form>
    </div>

</body>