<div class="dashboard-home container">
    <h4>Dashboard</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3">
                <div class="card ">
                    <div class="card-body py-5">Primary Card</div>
                    <div class="card-footer d-flex">
                        View Details
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card ">
                    <div class="card-body py-5">Warning Card</div>
                    <div class="card-footer d-flex">
                        View Details
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card ">
                    <div class="card-body py-5">Success Card</div>
                    <div class="card-footer d-flex">
                        View Details
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="card ">
                    <div class="card-body py-5">Danger Card</div>
                    <div class="card-footer d-flex">
                        View Details
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Second Row: 2 Cards -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Content for Card 4</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 5</h5>
                        <p class="card-text">Content for Card 5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>