<!-- Start Landing Page -->
<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">QUICK<b>fix</b></a>
            <ul class="links">
                <li [routerLink]="['']">Home</li>
                <li [routerLink]="['about-us']">About Us</li>
                <li [routerLink]="['user-option']">Get Started</li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Where Speed Meets Precision</h1>
                <p>QUICKfix delivers fast, efficient solutions for building high-converting landing pages that get
                    results. We specialize in turning your website needs into reality, swiftly and seamlessly.</p>
                <button>More about us</button>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
        </div>
    </div>
</div>
<!-- End Landing Page -->