<div id="sidebar" class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <span class="fs-4">Interviewer Panel</span>
    </div>
    <hr>

    <!-- Navigation Links -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/interviewer-dashboard']">
                <i class="fas fa-calendar-alt"></i>Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['ischedule']">
                <i class="fas fa-calendar-alt"></i>Schedule Interview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['iall-interview']">
                <i class="fas fa-file-alt"></i> See All interview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['icandidate-list']">
                <i class="fas fa-sync-alt"></i> View All Candidates
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['iupdateApplication']">
                <i class="fas fa-sync-alt"></i> Update Application Status
            </a>
        </li>
    </ul>
    <hr>

</div>