<div class="card">
    <div class="container mt-4">
        <div class="card-header">
            <h4> Candidate List</h4>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job Seeker Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of applicants; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ applicant.jobSeekerName }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.jobTitle }}</td>
                    <td>
                        <button class="btn btn-warning">
                            {{ applicant.applicationStatus }}
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="onboardApplicant(applicant.applicationId, i)">
                            Onboard
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>