<body>
    <h1>What Are You Looking For?</h1>
    <div class="card-container">
        <div class="card">
            <h2>Jobseeker </h2>
            <button (click)="navigateToJobseeker()">Login</button>
        </div>
        <div class="card">
            <h2>Interviewer </h2>
            <button (click)="navigateToInterviewer()">Login</button>
        </div>
        <div class="card">
            <h2>HR </h2>
            <button (click)="navigateToHr()">Login</button>
        </div>
    </div>
</body>